<!-- Featured Product Start -->
<div class="featured-product">
  <div class="container">
    <div class="section-header">
      <h3>Error message</h3>
      <p class="alert alert-warning">
        {{message}}
      </p>
    </div>
  </div>
</div>